.App {
  text-align: center;
  
}

.Auth-form-container {
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150vw;
  height: 150vh;
}

.Auth-form {
  width: 430px;
  height: 400px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  border-radius: 8px;
  background-color: #F0F8FF;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Auth-header {
  background-color: #c6ad1e;
}

@font-face {
  font-family: 'retro-gaming-font';
  src: url('./fonts/siller.otf') format('truetype');
}

@font-face {
  font-family: 'Gamefont';
  src: url('./fonts/gamefont.ttf') format('truetype');
}


.button-container {
  margin-top: 40px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #361640;
}










