.round-position {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.timer-position {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.question-position {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.points-position {
  position: absolute;
  top: 60%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.bots-points-position {
  position: absolute;
  top: 70%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.av {
  background-color: rgba(0, 128, 0, 1);
  border-radius: 50px 50px 0 0;
  height: 60px;
  overflow: hidden;
  width: 50px;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-47%, -30%);
}

.av .av-eye {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 30px;
  top: 10px;
  width: 30px;
}

.av .av-eye:after {
  left: 50%;
  position: rel;
  transform: translateX(-50%);
  background-color: rgba(0, 128, 0, 1);
  border-radius: 50%;
  content: "";
  height: 40px;
  bottom: 30px;
  width: 40px;
}

.av-eye:before {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  content: "";
  height: 10px;
  bottom: 5px;
  width: 10px;
}

.square {
  width: 85px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid rgb(118, 47, 144);
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-440%, -340%);
  z-index: 3;
}

.avbot {
  background-color: rgb(0, 128, 0);
  border-radius: 50px 50px 0 0;
  height: 60px;
  overflow: hidden;
  top: 57px;
  width: 50px;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-47%, -30%);

}

.avbot .avbot-eye {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 30px;
  top: 10px;
  width: 30px;
}

.avbot .avbot-eye:after {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  background-color: rgba(0, 128, 0, 1);
  border-radius: 50%;
  content: "";
  height: 40px;
  bottom: 30px;
  width: 40px;
}

.avbot-eye:before {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: rgb(228, 12, 12);
  border-radius: 50%;
  content: "";
  height: 10px;
  bottom: 5px;
  width: 10px;
}

.squarebot {
  width: 85px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid rgb(118, 47, 144);
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(340%, -340%);
  z-index: 3;
}


#loading-indicators {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  display: flex;
  align-items: center;

}

.loading-indicator {
  border-radius: 15px;
  box-shadow: shadow1;
  height: 600px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.loading-indicator:before,
.loading-indicator:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-indicator:after {
  background-color: rgb(40, 9, 53);
  border-radius: 15px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}

.loading-indicator:before {
  animation: loading-indicator-rotation 15s linear infinite;
  background: rgb(7, 7, 72);
  height: 150px;
  width: 200%;
}

#loading-indicator__1:before {
  background: #a772a3;
}


@keyframes loading-indicator-rotation {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.xx {
  position: absolute;
  font-size: 24px;
  background: linear-gradient(21deg, #10abff, #561bea);
  padding: 3px;
  display: inline-block;
  border-radius: 60px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 200%);
}

.xx *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 5.4px;
  z-index: 2;
}

.xx *:not(span):focus+span {
  opacity: 1;
  transform: scale(1);
}

.xx .glow-span {
  transform: scale(.993, .94);
  transition: transform .5s, opacity .25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #6e1bea, -3px 3px 30px #10abff;
}

/* html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5px;
  font-size: 16px;
} */

body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
}

.xx {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 192px;
}

::placeholder {
  color: #5c72d3;
}

html::after {
  content: '';
  background: linear-gradient(21deg, #10abff, #5d1bea);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.rectangle-left {
  width: 200px;
  height: 100px;
  background-color: #8572a7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-190%, -280%);
  z-index: 2;
  border-radius: 10px;
}

.player-name {
  font-size: 10px;
  transform: translate(-25%, 670%);
}

.rectangle-right {
  width: 200px;
  height: 100px;
  background-color: #8572a7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90%, -280%);
  z-index: 1;
  border-radius: 10px;
}

.bot-name {
  font-size: 10px;
  transform: translate(26%, 670%);
}


.timer-container {
  position: relative;

}

.arrow {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  position: relative;
  transform: translate(-750%, -350%);
}

.arrow::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  top: 60%;
  left: 50%;
  border-style: solid;
  border-color: #000;
  border-width: 2px 2px 0 0;
  position: absolute;
  transform-origin: 50% 50%;
}

.arrow.left::before {
  transform: rotate(-135deg);
  margin: -15px 0 0 -10px;
}

.arrow::after {
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #000;
  position: absolute;
  transform-origin: 50% 50%;
}

.arrow.left::after {
  width: 30px;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-11px, -2.5px);
}


.arrow.circle {
  background: rgba(185, 161, 234, 0.75);
  border-radius: 50px;
}


.hint-button {
  border-radius: 50px;
  background-color: #4c2a67;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  transform: translateX(0px) translateY(450px);
  position: relative;
}

.hint-button:hover {
  background-color: #fff;
  color: #29103e;
}

.botAnswer {
  position: relative;
  font-size: 23px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 400%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;

}

.xanswer {
  position: relative;
  font-size: 20px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 600%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
}

input {
  width: 100%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.exit-button {
  border-radius: 50px;
  background-color: #4c2a67;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  transform: translateX(0px) translateY(480px);
  position: relative;
}

.exit-button:hover {
  background-color: #fff;
  color: #29103e;
}

.round-container {
  position: absolute;
  top: 40%;
  left: 465%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;

}

#saturn {
  width: 400px;
  height: 400px;
  position: relative;
  margin: auto;
  transform: rotateZ(-15deg) scale(0.25) translate(0%, -210%);
  ;
}

.rings {
  position: relative;
  width: 100%;
  height: 100%;

  background: -moz-radial-gradient(center, ellipse cover, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(24, 19, 25, 0)), color-stop(34%, rgba(53, 52, 51, 0)), color-stop(36%, rgba(55, 54, 52, 1)), color-stop(37%, rgba(56, 55, 53, 1)), color-stop(38%, rgba(68, 67, 66, 1)), color-stop(39%, rgba(56, 55, 53, 1)), color-stop(40%, rgba(68, 67, 66, 1)), color-stop(41%, rgba(56, 55, 53, 1)), color-stop(42%, rgba(87, 77, 76, 1)), color-stop(44%, rgba(87, 77, 76, 1)), color-stop(46%, rgba(113, 110, 103, 1)), color-stop(48%, rgba(113, 110, 103, 1)), color-stop(49%, rgba(113, 98, 93, 1)), color-stop(51%, rgba(113, 98, 93, 1)), color-stop(52%, rgba(122, 115, 105, 1)), color-stop(53%, rgba(113, 98, 93, 1)), color-stop(54%, rgba(113, 98, 93, 1)), color-stop(55%, rgba(122, 115, 105, 1)), color-stop(56%, rgba(106, 99, 89, 1)), color-stop(58%, rgba(106, 99, 89, 1)), color-stop(60%, rgba(79, 76, 76, 0)), color-stop(61%, rgba(65, 64, 70, 1)), color-stop(62%, rgba(65, 64, 70, 1)), color-stop(63%, rgba(90, 85, 89, 1)), color-stop(65%, rgba(78, 74, 73, 1)), color-stop(67%, rgba(78, 73, 74, 1)), color-stop(68%, rgba(78, 73, 74, 0)), color-stop(69%, rgba(78, 73, 75, 1)), color-stop(70%, rgba(78, 73, 75, 1)), color-stop(71%, rgba(78, 73, 76, 0)), color-stop(72%, rgba(77, 72, 76, 0)), color-stop(100%, rgba(24, 19, 25, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00181319', endColorstr='#00181319', GradientType=1);

  transform: rotateX(75deg);
}

.plan {
  background: green;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 110px;
  left: 110px;
  border-radius: 50%;
}

.top {
  clip: rect(0px, 180px, 90px, 0px);
}

.bottom {
  clip: rect(90px, 180px, 180px, 0px);
}

.plan-bg {
  background: -moz-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 1) 100%), -moz-linear-gradient(bottom, rgba(131, 129, 117, 1) 0%, rgba(131, 129, 117, 1) 3%, rgba(150, 144, 130, 1) 5%, rgba(150, 144, 130, 1) 9%, rgba(190, 177, 145, 1) 20%, rgba(190, 177, 145, 1) 32%, rgba(202, 176, 153, 1) 35%, rgba(202, 176, 153, 1) 47%, rgba(205, 186, 156, 1) 48%, rgba(205, 186, 156, 1) 49%, rgba(211, 184, 157, 1) 51%, rgba(211, 184, 157, 1) 59%, rgba(218, 188, 162, 1) 61%, rgba(218, 188, 162, 1) 63%, rgba(208, 180, 158, 1) 64%, rgba(208, 180, 158, 1) 68%, rgba(213, 181, 143, 1) 74%, rgba(213, 181, 143, 1) 78%, rgba(221, 203, 157, 1) 83%, rgba(221, 203, 157, 1) 85%, rgba(212, 203, 174, 1) 90%, rgba(212, 203, 174, 1) 100%);
  background: -webkit-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 1) 100%), -webkit-linear-gradient(bottom, rgba(131, 129, 117, 1) 0%, rgba(131, 129, 117, 1) 3%, rgba(150, 144, 130, 1) 5%, rgba(150, 144, 130, 1) 9%, rgba(190, 177, 145, 1) 20%, rgba(190, 177, 145, 1) 32%, rgba(202, 176, 153, 1) 35%, rgba(202, 176, 153, 1) 47%, rgba(205, 186, 156, 1) 48%, rgba(205, 186, 156, 1) 49%, rgba(211, 184, 157, 1) 51%, rgba(211, 184, 157, 1) 59%, rgba(218, 188, 162, 1) 61%, rgba(218, 188, 162, 1) 63%, rgba(208, 180, 158, 1) 64%, rgba(208, 180, 158, 1) 68%, rgba(213, 181, 143, 1) 74%, rgba(213, 181, 143, 1) 78%, rgba(221, 203, 157, 1) 83%, rgba(221, 203, 157, 1) 85%, rgba(212, 203, 174, 1) 90%, rgba(212, 203, 174, 1) 100%);
  background: -o-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 1) 100%), -o-linear-gradient(bottom, rgba(131, 129, 117, 1) 0%, rgba(131, 129, 117, 1) 3%, rgba(150, 144, 130, 1) 5%, rgba(150, 144, 130, 1) 9%, rgba(190, 177, 145, 1) 20%, rgba(190, 177, 145, 1) 32%, rgba(202, 176, 153, 1) 35%, rgba(202, 176, 153, 1) 47%, rgba(205, 186, 156, 1) 48%, rgba(205, 186, 156, 1) 49%, rgba(211, 184, 157, 1) 51%, rgba(211, 184, 157, 1) 59%, rgba(218, 188, 162, 1) 61%, rgba(218, 188, 162, 1) 63%, rgba(208, 180, 158, 1) 64%, rgba(208, 180, 158, 1) 68%, rgba(213, 181, 143, 1) 74%, rgba(213, 181, 143, 1) 78%, rgba(221, 203, 157, 1) 83%, rgba(221, 203, 157, 1) 85%, rgba(212, 203, 174, 1) 90%, rgba(212, 203, 174, 1) 100%);
  background: -ms-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), -ms-radial-gradient(center, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 1) 100%), -ms-linear-gradient(bottom, rgba(131, 129, 117, 1) 0%, rgba(131, 129, 117, 1) 3%, rgba(150, 144, 130, 1) 5%, rgba(150, 144, 130, 1) 9%, rgba(190, 177, 145, 1) 20%, rgba(190, 177, 145, 1) 32%, rgba(202, 176, 153, 1) 35%, rgba(202, 176, 153, 1) 47%, rgba(205, 186, 156, 1) 48%, rgba(205, 186, 156, 1) 49%, rgba(211, 184, 157, 1) 51%, rgba(211, 184, 157, 1) 59%, rgba(218, 188, 162, 1) 61%, rgba(218, 188, 162, 1) 63%, rgba(208, 180, 158, 1) 64%, rgba(208, 180, 158, 1) 68%, rgba(213, 181, 143, 1) 74%, rgba(213, 181, 143, 1) 78%, rgba(221, 203, 157, 1) 83%, rgba(221, 203, 157, 1) 85%, rgba(212, 203, 174, 1) 90%, rgba(212, 203, 174, 1) 100%);
  background: radial-gradient(circle at top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 1) 100%), linear-gradient(to top, rgba(131, 129, 117, 1) 0%, rgba(131, 129, 117, 1) 3%, rgba(150, 144, 130, 1) 5%, rgba(150, 144, 130, 1) 9%, rgba(190, 177, 145, 1) 20%, rgba(190, 177, 145, 1) 32%, rgba(202, 176, 153, 1) 35%, rgba(202, 176, 153, 1) 47%, rgba(205, 186, 156, 1) 48%, rgba(205, 186, 156, 1) 49%, rgba(211, 184, 157, 1) 51%, rgba(211, 184, 157, 1) 59%, rgba(218, 188, 162, 1) 61%, rgba(218, 188, 162, 1) 63%, rgba(208, 180, 158, 1) 64%, rgba(208, 180, 158, 1) 68%, rgba(213, 181, 143, 1) 74%, rgba(213, 181, 143, 1) 78%, rgba(221, 203, 157, 1) 83%, rgba(221, 203, 157, 1) 85%, rgba(212, 203, 174, 1) 90%, rgba(212, 203, 174, 1) 100%);
}

.score-position {
  position: fixed;
  top: 30px;
  left: 138px;
}