.Object {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .floating-image {
    position: absolute;
    top: 0;
    animation: float 3s ease-in-out forwards;
    width: 200px;
  }

  @keyframes float {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(45vh) translateX(-60px);
    }
  }

body {
    background: #222;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    font-family: sans-serif;
  }
  
.glitch {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    animation: glitch 500ms infinite;
  }
